@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: 'Inter';
	font-weight: 300;
}

/* Global styles for Bootstrap in your SvelteKit project */
input:focus,
select:focus,
textarea:focus {
	outline: none !important;
	box-shadow: none !important;
}

input,
select,
textarea {
	border: none !important;
	outline: none !important;
	background: transparent;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type='number'] {
	-moz-appearance: textfield; /* For Firefox */
}

@font-face {
	font-family: 'Cyberpunk';
	src: url('/Cyberpunk.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

sub {
	font-size: 80%;
}

:root {
	--cl-border: #1f2937;
	--cl-bg: #f5f2a8;
	--widget-border-color: #1f2937;
	--text-color: #1f2937;
	--bg-color: #f5f2a8;
	--widget-bg-color: #f5f2a8ed;
}

.border-color {
	border-color: var(--widget-border-color);
}
.shake {
	animation: shake 0.3s;
}

@keyframes shake {
	0% {
		transform: translateX(0);
	}
	25% {
		transform: translateX(-5px);
	}
	50% {
		transform: translateX(5px);
	}
	75% {
		transform: translateX(-5px);
	}
	100% {
		transform: translateX(0);
	}
}
